.forecast-container {
  background-color: var(--background-color);
  padding: 6vmin;
  flex-grow: 1;
  max-height: calc(100vh - 12vmin);
  height: 100vh;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .forecast-container {
    flex-direction: column;
    height: max-content;
    max-height: max-content;
    min-height: calc(100vh - 12vmin);
  }
}
