.search-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  width: 50%;
  height: 100%;
}
.intro-text {
  max-width: 250px;
  text-wrap: wrap;
  font-size: 30px;
  color: var(--text-color-light);
}

.logo-container {
  align-self: baseline;
}
.search-inner-container {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.info-text {
  color: var(--text-color-light);
  white-space: pre-line;
}
